<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Project 3

### Iowa Liquor Sales 

---

Project 3, unlike project 2 which combined skills from weeks 1 and 2, will now be review of week 2. Projects going forward will fit this format: you learn material one week and review it through a project the following week.

That being said, this is as you might expect more challenging. You will be using the pandas data transformation functionality (melt, pivot, groupby, apply) that was not a factor in Project 2.

---

#### Context of the data

The state of Iowa provides many data sets on their website, including [this dataset](https://www.dropbox.com/sh/pf5n5sgfgiri3i8/AACkaMeL_i_WgZ00rpxOOcysa?dl=0) which contains transactions for all stores that have a class E liquor license. You can choose one of the following two scenarios.

The data can also be found [directly on their website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy), which allows you to explore it graphically and download it (though it doesn't work very well).

NOTE: Some of you may have computer issues with the full dataset. In this case, feel free to use [this 10% dataset version of Iowa liquor sales](https://drive.google.com/file/d/0Bx2SHQGVqWaseDB4QU9ZSVFDY2M/view?usp=sharing). You may want to use it anyway to test and prototype your code since it will be faster, before running it on the full dataset.

---

#### Package imports

In [705]:
import numpy as np
import scipy.stats as stats
import pandas as pd

# this line tells jupyter notebook to put the plots in the notebook rather than saving them to file.
%matplotlib inline

# this line makes plots prettier on mac retina screens. If you don't have one it shouldn't do anything.
%config InlineBackend.figure_format = 'retina'

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1. Load the data from file

---

In [706]:
iowa_file = '/Users/Cecilia/Desktop/DSI-SF-2-clambeer/datasets/iowa_liquor/Iowa_Liquor_sales_sample_10pct.csv'

iowa = pd.read_csv(iowa_file)

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2. Do an initial overview of the data

---

At the very least describe the columns/variables and the datatypes.

In [707]:
iowa.columns

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')

In [708]:
iowa.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [709]:
iowa.dtypes

Date                      object
Store Number               int64
City                      object
Zip Code                  object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Clean the dataset

---

### 3.1 Identify columns that you will need to convert and clean. Where and how is the data corrupted?

Don't worry about converting the date column to a pandas/numpy "datetime" datatype, unless you want to (not required for these problems and is a challenging thing to work with in its own right.)

In [710]:
# Date convert to datetime
# Zip convert to ... never mind, keep it object to avoid issue with leading zeros
# convert State Bottle Cost, State bottle retail, Sale (dollars) to float

### 3.2 Clean the columns

In [711]:
# convert date string to datetime 
import datetime as dt
iowa.Date = iowa.Date.apply(dt.datetime.strptime, args=['%m/%d/%Y'])

In [712]:
# turn sale (dollars) column into float
iowa['Sale (Dollars)'] = iowa['Sale (Dollars)'].map(lambda x: x.replace('$',''))
iowa['Sale (Dollars)'] = iowa['Sale (Dollars)'].map(lambda x: float(x))
iowa['Sale (Dollars)'].dtypes

dtype('float64')

In [713]:
# turn State Bottle Cost  into float
iowa['State Bottle Cost'] = iowa['State Bottle Cost'].map(lambda x: x.replace('$',''))
iowa['State Bottle Cost'] = iowa['State Bottle Cost'].map(float)
iowa['State Bottle Cost'].dtypes

dtype('float64')

In [714]:
# turn State Bottle Retail  into float
iowa['State Bottle Retail'] = iowa['State Bottle Retail'].map(lambda x: x.replace('$',''))
iowa['State Bottle Retail'] = iowa['State Bottle Retail'].map(float)
iowa['State Bottle Retail'].dtypes

dtype('float64')

In [715]:
# just looking at value_counts
for column in iowa:
    if len(iowa[column].value_counts()) >= 25:
        # printing fewer for better readability
        print column, ':  \n', iowa[column].value_counts().iloc[0:10,]
    else:
        print column, ':  \n', iowa[column].value_counts()

Date :
2015-12-01    1555
2015-11-30    1553
2015-12-28    1475
2015-12-02    1426
2015-12-22    1416
2015-06-01    1408
2015-01-07    1383
2015-12-15    1375
2015-12-29    1370
2015-12-26    1334
Name: Date, dtype: int64
Store Number :
2633    2485
4829    2300
2512    1758
2572    1652
2190    1626
2515    1565
2501    1553
2500    1521
2670    1506
2587    1481
Name: Store Number, dtype: int64
City :
DES MOINES         23724
CEDAR RAPIDS       18888
DAVENPORT          11580
WATERLOO            8425
COUNCIL BLUFFS      8060
SIOUX CITY          7992
IOWA CITY           7951
AMES                7548
WEST DES MOINES     7162
DUBUQUE             6915
Name: City, dtype: int64
Zip Code :
50010    7091
52402    7047
52240    6138
50613    5281
52001    4768
51501    4665
50314    4548
50317    4447
50265    4366
52404    4268
Name: Zip Code, dtype: int64
County Number :
77.0    49102
57.0    23511
82.0    16678
7.0     15083
52.0    13189
78.0     9111
85.0     8959
97.0     8562
31.0     7757
17.0     6374
Name: County Number, dtype: int64
County :
Polk             49102
Linn             23511
Scott            16678
Black Hawk       15083
Johnson          13189
Pottawattamie     9111
Story             8959
Woodbury          8562
Dubuque           7757
Cerro Gordo       6374
Name: County, dtype: int64
Category :
1031080.0    35373
1012100.0    27087
1011200.0    15342
1062310.0    14631
1031200.0    14001
1022100.0    12109
1011100.0    11547
1081600.0    10902
1032080.0    10668
1062200.0    10062
Name: Category, dtype: int64
Category Name :
VODKA 80 PROOF                      35373
CANADIAN WHISKIES                   27087
STRAIGHT BOURBON WHISKIES           15342
SPICED RUM                          14631
VODKA FLAVORED                      14001
TEQUILA                             12109
BLENDED WHISKIES                    11547
WHISKEY LIQUEUR                     10902
IMPORTED VODKA                      10668
PUERTO RICO & VIRGIN ISLANDS RUM    10062
Name: Category Name, dtype: int64
Vendor Number :
260    46829
434    27090
65     25578
370    16932
115    15924
421    13723
55     12799
35     12500
85     12393
259    10472
Name: Vendor Number, dtype: int64
Item Number :
36308    2796
11788    2741
35918    1935
43336    1668
11776    1656
64866    1563
64858    1543
36306    1443
36904    1371
43028    1285
Name: Item Number, dtype: int64
Item Description :
Black Velvet                     7233
Hawkeye Vodka                    6689
Five O'clock Vodka               4512
Smirnoff Vodka 80 Prf            3435
Captain Morgan Spiced Rum        3356
Seagrams 7 Crown Bl Whiskey      3280
Fireball Cinnamon Whiskey        3198
Jack Daniels Old #7 Black Lbl    3106
Absolut Swedish Vodka 80 Prf     2918
Bacardi Superior Rum             2813
Name: Item Description, dtype: int64
Bottle Volume (ml) :
750     122807
1750     54369
1000     36824
375      27096
500      11986
200       9951
600       3282
3000      1605
300       1338
100        865
Name: Bottle Volume (ml), dtype: int64
State Bottle Cost :
8.25     6160
6.50     4783
9.00     4383
10.00    4248
10.49    4018
15.00    3828
7.17     2998
7.47     2955
5.00     2815
6.30     2789
Name: State Bottle Cost, dtype: int64
State Bottle Retail :
12.38    6160
9.75     4825
13.50    4428
15.00    4257
22.50    3837
15.74    3828
10.76    2998
11.21    2955
7.50     2815
9.45     2789
Name: State Bottle Retail, dtype: int64
Bottles Sold :
12    73010
6     52196
2     37594
1     31253
3     27949
4     15136
24    14926
48     3786
5      3218
36     2130
Name: Bottles Sold, dtype: int64
Sale (Dollars) :
162.00    3482
148.56    2554
64.80     2078
94.20     2012
70.56     1895
90.00     1783
60.12     1713
73.80     1638
62.28     1629
117.00    1600
Name: Sale (Dollars), dtype: int64
Volume Sold (Liters) :
9.00     53334
10.50    35960
1.50     24835
2.25     19761
0.75     17343
12.00    17253
3.00     13682
4.50     12087
1.00      6011
0.50      5681
Name: Volume Sold (Liters), dtype: int64
Volume Sold (Gallons) :
2.38    53334
2.77    35960
0.40    24835
0.59    19761
0.20    17343
3.17    17253
0.79    13682
1.19    12087
0.26     6011
0.13     5681
Name: Volume Sold (Gallons), dtype: int64

In [716]:
iowa.isnull().sum()
# maybe I can do something about Category Name (fill it with some 
# value) and 'County'

Date                        0
Store Number                0
City                        0
Zip Code                    0
County Number            1077
County                   1077
Category                   68
Category Name             632
Vendor Number               0
Item Number                 0
Item Description            0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 3.3 Perform more extensive cleaning of the dataset

Cleaning of data can mean a lot more than just fixing strings and numbers in columns. There are often logical errors with data, useless or nonsensical categories, redundancy of information, outliers, and many more problems.

This dataset has problems beyond just fixing the types of columns. Though resolving them may not be required for EDA and analysis, if you want experience with "deeper" cleaning of data this is a great dataset to start practicing with.

Keep in mind that some types of "data cleaning" is subjective: it's not always a cut-and-dry conversion of type or removal of null values. Subjectivity when dealing with data is just a fact of life for a data scientist. This isn't a kind of programming where things are just right or wrong.

- **trying to figure out whether I can fill some of the Category values by looking to see what values they normally are given an "Item Description"**

In [717]:
# what's in the Category Name 
iowa['Category Name'].value_counts()[0:20]

VODKA 80 PROOF                        35373
CANADIAN WHISKIES                     27087
STRAIGHT BOURBON WHISKIES             15342
SPICED RUM                            14631
VODKA FLAVORED                        14001
TEQUILA                               12109
BLENDED WHISKIES                      11547
WHISKEY LIQUEUR                       10902
IMPORTED VODKA                        10668
PUERTO RICO & VIRGIN ISLANDS RUM      10062
FLAVORED RUM                           7282
TENNESSEE WHISKIES                     7081
AMERICAN COCKTAILS                     6929
AMERICAN GRAPE BRANDIES                6589
AMERICAN DRY GINS                      6559
IMPORTED VODKA - MISC                  6506
MISC. IMPORTED CORDIALS & LIQUEURS     6299
CREAM LIQUEURS                         6284
SCOTCH WHISKIES                        5375
IMPORTED GRAPE BRANDIES                4614
Name: Category Name, dtype: int64

In [718]:
# these are the Item Descriptions matching the rows
# where Category Name is missing
mask = iowa['Category Name'].isnull()
topmissing = iowa['Item Description'][mask].value_counts()
topmissing[:20]

Hennessy VS                                                   135
Svedka Vodka                                                   71
Hennessy Vs Cognac                                             68
Herradura Gold Reposado 6pak                                   42
Disaronno Amaretto                                             28
Grand Marnier Cordon Rouge                                     27
Evan Williams Egg Nog                                          18
Tim Smith's Climax Moonshine                                   14
Stolichnaya Premium Vodka 80 Proof (lv)                        14
Stolichnaya Premium Vodka 80 Prf                               10
Templeton Rye w/Flask                                          10
Grey Goose w/2 Martini Glasses                                  8
Hennessy Black                                                  8
Rondiaz Rum Spiced                                              7
Captain Morgan Grapefruit                                       7
Domaine de Canton                                               6
Captain Morgan Coconut                                          6
Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls      5
Remy Martin VSOP                                                5
Dr. McGillicuddy's Peach Mini                                   5
Name: Item Description, dtype: int64

In [719]:
# Some of these Item Descriptions do not have any Category Name 
# value that ever shows up
# they show up as NaN
iowa['Category Name'][iowa['Item Description'] == \
                      "Evan Williams Egg Nog"]

11241     NaN
24190     NaN
34063     NaN
49712     NaN
53329     NaN
60370     NaN
67879     NaN
69822     NaN
101633    NaN
102627    NaN
178003    NaN
192015    NaN
210035    NaN
216660    NaN
221370    NaN
224617    NaN
224979    NaN
242572    NaN
Name: Category Name, dtype: object

In [720]:
# REPLACE EMPTY CATEGORY NAMES WITH TRUE VALUES BASED ON ITEM DESCRIPTION

# create a new dataframe to hold the correct Category name
# for each Item Description

categoryreplace = pd.DataFrame()

for number, item in enumerate(topmissing):
    each_liquor_name = topmissing.index[number]

    mask = iowa['Item Description'] == each_liquor_name
    
    # take the most commonly used Category name for each 
    # item description.  I used 'try' because it is not always
    # possible - some Item Descriptions did not ever have
    # a Category value show up (see "Evan Williams Egg Nog" above)
    try:
        categoryreplace.ix[each_liquor_name, 'Category Name'] = \
          iowa['Category Name'][mask].value_counts().index[0]
    except:
        categoryreplace.ix[each_liquor_name, 'Category Name'] = \
        'Unknown'
    

# what this looks like
categoryreplace.iloc[0:20,]

                                                                         Category Name
Hennessy VS                                                    IMPORTED GRAPE BRANDIES
Svedka Vodka                                                            IMPORTED VODKA
Hennessy Vs Cognac                                             IMPORTED GRAPE BRANDIES
Herradura Gold Reposado 6pak                                                   TEQUILA
Disaronno Amaretto                                                   IMPORTED AMARETTO
Grand Marnier Cordon Rouge                          MISC. IMPORTED CORDIALS & LIQUEURS
Evan Williams Egg Nog                                                          Unknown
Tim Smith's Climax Moonshine                               DISTILLED SPIRITS SPECIALTY
Stolichnaya Premium Vodka 80 Proof (lv)                                 IMPORTED VODKA
Stolichnaya Premium Vodka 80 Prf                                        IMPORTED VODKA
Templeton Rye w/Flask                                   DECANTERS & SPECIALTY PACKAGES
Grey Goose w/2 Martini Glasses                          DECANTERS & SPECIALTY PACKAGES
Hennessy Black                                                 IMPORTED GRAPE BRANDIES
Rondiaz Rum Spiced                                                          SPICED RUM
Captain Morgan Grapefruit                                                 FLAVORED RUM
Domaine de Canton                                   MISC. IMPORTED CORDIALS & LIQUEURS
Captain Morgan Coconut                                                    FLAVORED RUM
Jack Daniels TN Honey & Jack Daniels TN Fire 75...                             Unknown
Remy Martin VSOP                                               IMPORTED GRAPE BRANDIES
Dr. McGillicuddy's Peach Mini                                        IMPORTED SCHNAPPS

In [721]:
print categoryreplace.index
categoryreplace.reset_index(inplace=True)
print categoryreplace.index
categoryreplace.head(20)

Index([u'Hennessy VS', u'Svedka Vodka', u'Hennessy Vs Cognac',
       u'Herradura Gold Reposado 6pak', u'Disaronno Amaretto',
       u'Grand Marnier Cordon Rouge', u'Evan Williams Egg Nog',
       u'Tim Smith's Climax Moonshine',
       u'Stolichnaya Premium Vodka 80 Proof (lv)',
       u'Stolichnaya Premium Vodka 80 Prf', u'Templeton Rye w/Flask',
       u'Grey Goose w/2 Martini Glasses', u'Hennessy Black',
       u'Rondiaz Rum Spiced', u'Captain Morgan Grapefruit',
       u'Domaine de Canton', u'Captain Morgan Coconut',
       u'Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls',
       u'Remy Martin VSOP', u'Dr. McGillicuddy's Peach Mini', u'Licor 43',
       u'Svedka', u'Blue Chair Bay Coconut Spiced',
       u'Captain Morgan Pineapple', u'D'usse VSOP',
       u'Dr. McGillicuddy's Apple Pie Mini', u'Gosling's Black Seal',
       u'Pinnacle Candy Cane Trial Pack', u'Olmeca Altos Reposado',
       u'Sauza Cien Anos Reposado', u'Southern Comfort w/Shot Glass & Lanyard',
       u'Galliano Liqueur', u'Exotico Blanco', u'Hennessy Vs Cognac 100ml',
       u'Bombay Sapphire w/Glass', u'Gentleman Jack w/2 Glasses',
       u'Hennessy VSOP Privilege', u'Dr. McGillicuddy's Peach',
       u'Blue Chair Bay Coconut', u'Captain Morgan Pineapple Mini',
       u'Wild Turkey American Honey Shot Tap',
       u'Disaronno Amaretto Cavalli Mignon 3-50ml Pack', u'Belvedere Vodka',
       u'Captain Morgan Coconut Mini', u'Absolut w/Ginger Beer',
       u'Grand Marnier Raspberry Peach', u'Ole Smoky Cherry Moonshine',
       u'Belvedere Intense Unfiltered', u'Il Tramonto Limoncello',
       u'Blue Chair Bay Banana', u'Ciroc Ten HA', u'Ricura Mini',
       u'Exotico Reposado', u'American Born Moonshine Original',
       u'Tres Generaciones Anejo', u'Stolichnaya Russian Vodka 80 Prf',
       u'1800 Silver', u'Peligroso Silver', u'Courvoisier Vsop Cognac',
       u'Passoa Liqueur', u'Pearl Caramel',
       u'Woodford Reserve MC 1838 White Corn',
       u'Three Olives Cake Flavored Vodka', u'Rothman & Winter Orchard Peach',
       u'Crystal Head Aurora Vodka', u'Leblon Cachaca',
       u'Rondiaz Rum Spiced Black Cherry Mini',
       u'Knob Creek w/ Crystal Decanter', u'Glenfiddich 1963 Replica HA',
       u'Giffard Creme de Pamplemousse Rose Pink Grapefruit Liqueur',
       u'Parkers Heritage Collection Malt Whiskey HA', u'Rondiaz Mini',
       u'La Collection Santa Claus', u'American Born Moonshine Apple Pie',
       u'High Stick Vodka', u'Casa Noble Reposado'],
      dtype='object')
RangeIndex(start=0, stop=76, step=1)

,index,Category Name
0,Hennessy VS,IMPORTED GRAPE BRANDIES
1,Svedka Vodka,IMPORTED VODKA
2,Hennessy Vs Cognac,IMPORTED GRAPE BRANDIES
3,Herradura Gold Reposado 6pak,TEQUILA
4,Disaronno Amaretto,IMPORTED AMARETTO
5,Grand Marnier Cordon Rouge,MISC. IMPORTED CORDIALS & LIQUEURS
6,Evan Williams Egg Nog,Unknown
7,Tim Smith's Climax Moonshine,DISTILLED SPIRITS SPECIALTY
8,Stolichnaya Premium Vodka 80 Proof (lv),IMPORTED VODKA
9,Stolichnaya Premium Vodka 80 Prf,IMPORTED VODKA
10,Templeton Rye w/Flask,DECANTERS & SPECIALTY PACKAGES
11,Grey Goose w/2 Martini Glasses,DECANTERS & SPECIALTY PACKAGES
12,Hennessy Black,IMPORTED GRAPE BRANDIES
13,Rondiaz Rum Spiced,SPICED RUM
14,Captain Morgan Grapefruit,FLAVORED RUM
15,Domaine de Canton,MISC. IMPORTED CORDIALS & LIQUEURS
16,Captain Morgan Coconut,FLAVORED RUM
17,Jack Daniels TN Honey & Jack Daniels TN Fire 7...,Unknown
18,Remy Martin VSOP,IMPORTED GRAPE BRANDIES
19,Dr. McGillicuddy's Peach Mini,IMPORTED SCHNAPPS

In [722]:
# do a left join on Item Description and Category Name. 
# I know the left join may be unnecessary here but I'm doing it for 
# fun/practice.


# left join - put the values from the categoryreplace df into a new
# column 'Category Name_test'. It will be filled in only for certain
# values.

iowa_joined = pd.merge(iowa, categoryreplace, how='left', 
                       left_on='Item Description', right_on='index')

iowa_joined.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name_x,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name_y
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38,NaN,NaN
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40,NaN,NaN
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34,NaN,NaN
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77,NaN,NaN
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55,NaN,NaN

In [723]:
# check a subset where i KNOW there were missing Category Names, ie. row 901
iowa_joined[iowa_joined['Item Description'] == 'Hennessy VS'].head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name_x,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name_y
655,2015-06-01,3805,DAVENPORT,52084,82.0,Scott,1052010.0,IMPORTED GRAPE BRANDIES,420,48105,Hennessy VS,375,9.99,14.99,24,359.76,9.0,2.38,Hennessy VS,IMPORTED GRAPE BRANDIES
679,2015-04-07,2544,MARSHALLTOWN,50158,64.0,Marshall,1052010.0,IMPORTED GRAPE BRANDIES,420,48099,Hennessy VS,200,5.65,8.48,3,25.44,0.6,0.16,Hennessy VS,IMPORTED GRAPE BRANDIES
799,2015-03-18,3916,OTTUMWA,52501,90.0,Wapello,1052010.0,IMPORTED GRAPE BRANDIES,420,48099,Hennessy VS,200,5.65,8.48,1,8.48,0.2,0.05,Hennessy VS,IMPORTED GRAPE BRANDIES
901,2016-02-25,4647,WATERLOO,50707,7.0,Black Hawk,1052100.0,NaN,420,48099,Hennessy VS,200,5.74,8.61,24,206.64,4.8,1.27,Hennessy VS,IMPORTED GRAPE BRANDIES
1001,2015-12-17,4502,WATERLOO,50703,7.0,Black Hawk,1052010.0,IMPORTED GRAPE BRANDIES,420,48105,Hennessy VS,375,9.99,14.99,12,179.88,4.5,1.19,Hennessy VS,IMPORTED GRAPE BRANDIES

In [724]:
# defining a function to identify the nans (pain to use math.isnan or np.isnan when the type != float)

def isNaN(cell):
    if cell != cell:
        return True
    else: 
        return False

#test
print isNaN(iowa_joined.ix[901,'Category Name_x']) # NaN
print isNaN(iowa_joined.ix[902,'Category Name_x']) # some string

True
False

In [725]:
# creating the values to fill in the new Category series
fill_in = [
    iowa_joined.ix[x, 'Category Name_y'] # contains the fill-in values per row
    if isNaN(iowa_joined.ix[x, 'Category Name_x'])
    else iowa_joined.ix[x, 'Category Name_x']
    for x in range(len(iowa))
]

# testing it
print fill_in[901]
fill_in[902]

# mapping does not work because I need to be able to refer to the row that it's in
# so I can identify the correct row to pull from Category Name_y
# iowa['Category Name Edited'] = iowa['Category Name_x'].map(....)

IMPORTED GRAPE BRANDIES

'STRAIGHT BOURBON WHISKIES'

In [726]:
# creating the new column for Category Name
iowa_joined['Category Name Edited'] = pd.DataFrame(fill_in)

In [727]:
# test - row 901 is filled for Category Name Edits
iowa_joined.iloc[900:905,]

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name_x,Vendor Number,Item Number,...,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name_y,Category Name Edited
900,2015-02-11,3820,SIOUX CITY,51103,97.0,Woodbury,1041100.0,AMERICAN DRY GINS,434,31666,...,750,3.40,5.10,3,15.30,2.25,0.59,NaN,NaN,AMERICAN DRY GINS
901,2016-02-25,4647,WATERLOO,50707,7.0,Black Hawk,1052100.0,NaN,420,48099,...,200,5.74,8.61,24,206.64,4.80,1.27,Hennessy VS,IMPORTED GRAPE BRANDIES,IMPORTED GRAPE BRANDIES
902,2016-03-03,4725,ANKENY,50023,77.0,Polk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19064,...,375,5.25,7.88,12,94.56,4.50,1.19,NaN,NaN,STRAIGHT BOURBON WHISKIES
903,2015-02-12,2587,JOHNSTON,50131,77.0,Polk,1022100.0,TEQUILA,395,89215,...,750,14.90,22.35,1,22.35,0.75,0.20,NaN,NaN,TEQUILA
904,2015-01-13,2607,SHENANDOAH,51601,73.0,Page,1011200.0,STRAIGHT BOURBON WHISKIES,421,16517,...,1000,7.50,11.25,12,135.00,12.00,3.17,NaN,NaN,STRAIGHT BOURBON WHISKIES

In [728]:
# drop the unneeded columns
iowa_joined.drop(['Category Name_y', 'Category Name_x'], axis=1, inplace=True)
iowa_joined.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name Edited
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38,NaN,APRICOT BRANDIES
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40,NaN,BLENDED WHISKIES
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34,NaN,STRAIGHT BOURBON WHISKIES
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77,NaN,AMERICAN COCKTAILS
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55,NaN,VODKA 80 PROOF

- ** thinking about filling in County Name by looking up the Zipcode.**

In [729]:


###################################
# come back to this and load my   #
# zipcode/county data             #
###################################

# OK I didn't get a chance to finish this, but here is what I was 
# going to do.  I found some zipcode/county data online 
# and was going to do a df.fillna() with the zipcode/county
# values populated in a dict. Would have been cool.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Filter/adjust the store data

---

Some stores may have opened or closed in 2015. These stores will have incorrect yearly summary statistics since they were not open the full year. We need to filter them out or find another way to deal with the inconsistent numbers of months across stores.

It is up to you how you want to deal with this problem.

1. Investigate problematic stores.
2. Decide on an approach to deal with stores not open for the full 2015 year.
3. Implement your plan.
4. Briefly report on what you did and why.

In [730]:
#################################
# need to do                    #
#################################

# OK, didn't get to this either - wanted to focus on the other 
# 'basic' questions.  This is what I would have done:
# 1) run np.isnan() on each store's monthly sales data 
# to see what stores show up as having non-zero nans.

# 2) I would have taken those stores out - it did not make
# sense to include the sales performance information of stores
# taht were either starting afresh, wherein they would deal
# with a unique set of challenges to performing well, or 
# performing so badly that they had to shut down.  After 
# taking those stores out, there are plenty of stores left to
# provide sufficient data.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Proposals for new tax rates (Scenario 1)

---

You are a data scientist in residence at the Iowa State tax board. The Iowa State legislature is considering changes in the liquor tax rates and has assigned you to the project.

### 5.1 Calculate yearly liquor sales for each store in 2015.

In [731]:
iowa_joined.columns

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Vendor Number', u'Item Number',
       u'Item Description', u'Bottle Volume (ml)', u'State Bottle Cost',
       u'State Bottle Retail', u'Bottles Sold', u'Sale (Dollars)',
       u'Volume Sold (Liters)', u'Volume Sold (Gallons)', u'index',
       u'Category Name Edited'],
      dtype='object')

In [732]:
# do a groupby to determine sales for year 2015 for each store

def get_year(cell):
    return cell.year
    
iowa_joined['Year'] = iowa_joined.Date.map(get_year)
iowa_joined['Year'].head()

mask = ['Year', 'Store Number', 'Sale (Dollars)']
iowa_groupby = iowa_joined[mask].groupby(['Year','Store Number']).\
  sum().reset_index().sort_values(['Year','Store Number'])

iowa_groupby[iowa_groupby['Year'] == 2015].head(20)

    Year  Store Number  Sale (Dollars)
0   2015          2106       146326.22
1   2015          2113         9310.22
2   2015          2130       111871.43
3   2015          2152         7721.08
4   2015          2178        24324.18
5   2015          2190       121689.06
6   2015          2191       125093.49
7   2015          2200        22811.55
8   2015          2205        24681.39
9   2015          2228        17462.07
10  2015          2233        29553.34
11  2015          2238        11762.56
12  2015          2248        67682.06
13  2015          2285        76927.11
14  2015          2290        56514.43
15  2015          2327        10245.14
16  2015          2353        54000.55
17  2015          2367         5010.83
18  2015          2413        90065.02
19  2015          2445         7189.48

### 5.2 Calculate the profit each store is making in 2015.

In [733]:
# calculate profit per line
iowa_joined['Profit'] = iowa_joined['Sale (Dollars)'] - \
    (iowa_joined['Bottles Sold'] * iowa_joined['State Bottle Cost'])

In [734]:
iowa_joined.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Vendor Number,Item Number,Item Description,...,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name Edited,Year,Profit
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,55,54436,Mr. Boston Apricot Brandy,...,4.50,6.75,12,81.00,9.0,2.38,NaN,APRICOT BRANDIES,2015,27.00
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,395,27605,Tin Cup,...,13.75,20.63,2,41.26,1.5,0.40,NaN,BLENDED WHISKIES,2016,13.76
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,65,19067,Jim Beam,...,12.59,18.89,24,453.36,24.0,6.34,NaN,STRAIGHT BOURBON WHISKIES,2016,151.20
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,395,59154,1800 Ultimate Margarita,...,9.50,14.25,6,85.50,10.5,2.77,NaN,AMERICAN COCKTAILS,2016,28.50
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,297,35918,Five O'clock Vodka,...,7.20,10.80,12,129.60,21.0,5.55,NaN,VODKA 80 PROOF,2015,43.20

In [735]:

# wtih pivot tables

iowa_profit_pivot = iowa_joined.pivot_table(values=['Profit'], 
                                            index=['Year','Store Number'],aggfunc=[sum])

iowa_profit_pivot.reset_index(inplace=True)

iowa_profit_pivot[iowa_profit_pivot['Year'] == 2015].head(20)

    Year Store Number       sum
                         Profit
0   2015         2106  48838.08
1   2015         2113   3109.04
2   2015         2130  37325.20
3   2015         2152   2587.53
4   2015         2178   8165.70
5   2015         2190  40617.73
6   2015         2191  41744.39
7   2015         2200   7653.47
8   2015         2205   8244.13
9   2015         2228   5844.34
10  2015         2233   9866.66
11  2015         2238   3922.65
12  2015         2248  22584.51
13  2015         2285  25721.01
14  2015         2290  18882.37
15  2015         2327   3417.67
16  2015         2353  18186.81
17  2015         2367   1670.97
18  2015         2413  30102.82
19  2015         2445   2399.19

In [736]:
# 
###########################
# make this with groupby  #
#                         #
###########################

mask = ['Year', 'Store Number', 'Profit']
iowa_groupby = iowa_joined[mask].groupby(['Year','Store Number']).\
  sum().reset_index().sort_values(['Year','Store Number'])

iowa_groupby[iowa_groupby['Year'] == 2015].head(20)

    Year  Store Number    Profit
0   2015          2106  48838.08
1   2015          2113   3109.04
2   2015          2130  37325.20
3   2015          2152   2587.53
4   2015          2178   8165.70
5   2015          2190  40617.73
6   2015          2191  41744.39
7   2015          2200   7653.47
8   2015          2205   8244.13
9   2015          2228   5844.34
10  2015          2233   9866.66
11  2015          2238   3922.65
12  2015          2248  22584.51
13  2015          2285  25721.01
14  2015          2290  18882.37
15  2015          2327   3417.67
16  2015          2353  18186.81
17  2015          2367   1670.97
18  2015          2413  30102.82
19  2015          2445   2399.19

### 5.3 Investigate which Iowa counties are making the most profit on liquor per gallon in 2015.

In [737]:
# use groupby and sort

mask = ['Year', 'Store Number', 'Profit', 'Volume Sold (Gallons)']
iowa_groupby = iowa_joined[mask].groupby(['Year','Store Number']).\
  sum().reset_index().sort_values(['Year','Store Number'])

iowa_groupby['Profit per Gallon'] = iowa_groupby['Profit'] / iowa_groupby['Volume Sold (Gallons)']
    
iowa_groupby = iowa_groupby[iowa_groupby['Year'] == 2015]

iowa_groupby.sort_values('Profit per Gallon', axis=0, ascending=False).head(20)

      Year  Store Number    Profit  Volume Sold (Gallons)  Profit per Gallon
1220  2015          5053     22.50                   0.20         112.500000
886   2015          4669   3143.12                  36.39          86.373179
1367  2015          9001   9403.68                 168.83          55.699106
1047  2015          4849   3332.80                  65.81          50.642759
1358  2015          5201     96.65                   2.28          42.390351
1303  2015          5139    440.16                  11.02          39.941924
1366  2015          5215     18.68                   0.48          38.916667
1368  2015          9002  12574.08                 328.17          38.315751
1204  2015          5036   3166.06                  83.69          37.830804
1337  2015          5175     74.99                   2.05          36.580488
1241  2015          5074   1038.87                  28.43          36.541330
1371  2015          9018   2145.00                  59.44          36.086810
977   2015          4766    480.95                  13.48          35.678783
1369  2015          9010   1920.12                  56.17          34.184084
1184  2015          5014   1790.36                  52.70          33.972676
1285  2015          5118    204.94                   6.35          32.274016
1179  2015          5009   1352.29                  42.01          32.189717
1223  2015          5056     58.24                   1.81          32.176796
1151  2015          4979  10631.11                 333.73          31.855422
530   2015          4210    963.96                  30.74          31.358491

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.4 Plot a color map of average profit per county in 2015.

[Check out this site](http://flowingdata.com/2009/11/12/how-to-make-a-us-county-thematic-map-using-free-tools/) for  information on how to create map visualizations in python. There are other resources online for map plotting in python as well.

Another interesting map plot might show the difference in profit between time periods. Change in profit from November to December, for example.

### 5.5  Does profit scale proportionally to store size?

Size of a store can be defined as the total gallons sold in 2015. Is the profit to store size ratio increasing as store size increases? Decreasing? Consistent?

### 5.6 Create a broader category for liquor type.

Liquor types are pretty granular in this dataset. Create a column that categorizes these types into a smaller amount of categories. The categories you decide on are up to you.

### 5.7 Do relationships exist between the broader liquor type and profit?

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.8 Are there any noticeable relationships between liquor brand and sales? Profit?

### 5.9 The tax board wants to design a tax or taxes that affect larger stores more than smaller "mom and pop" stores.

Based on your investigations into the data, come up with a way you could design a tax that achieves this goal **without explicitly taxing stores based on size or county critera.** The liqour board does not want to obviously punish larger stores or speific counties for fear of backlash, but is willing to tax hard alcohol more than beer, for example.

Feel free to do more EDA if it helps.

Your report should describe whether such a tax is possible or not, and the specifics of what the tax will target/do.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. Market research for new store locations (Scenario 2)

A liquor store owner in Iowa is looking to open a store in a new location and has hired you to investigate the market data for potential new locations. The business owner is interested in what you can discover from the data that will help him evaluate a good location for a new storefront.

---

### 6.1 Create columns for Q1 2015 sales and Q1 2016 sales.

The owner is not just interested in what locations are currently selling well, but also which areas are showing the most promising sales growth from 2015 to 2016. 

For yearly changes we will focus on the changes from Q1 2015 to Q1 2016 specifically (avoiding effects of season changes).

Note: Q1 is months: January, February, and March.

In [738]:
# create Month column
iowa_joined['Month'] = iowa_joined.Date.map(lambda x: x.month)

iowa_joined.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Vendor Number,Item Number,Item Description,...,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),index,Category Name Edited,Year,Profit,Month
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,55,54436,Mr. Boston Apricot Brandy,...,6.75,12,81.00,9.0,2.38,NaN,APRICOT BRANDIES,2015,27.00,11
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,395,27605,Tin Cup,...,20.63,2,41.26,1.5,0.40,NaN,BLENDED WHISKIES,2016,13.76,3
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,65,19067,Jim Beam,...,18.89,24,453.36,24.0,6.34,NaN,STRAIGHT BOURBON WHISKIES,2016,151.20,2
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,395,59154,1800 Ultimate Margarita,...,14.25,6,85.50,10.5,2.77,NaN,AMERICAN COCKTAILS,2016,28.50,2
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,297,35918,Five O'clock Vodka,...,10.80,12,129.60,21.0,5.55,NaN,VODKA 80 PROOF,2015,43.20,8

In [739]:
# use groupby 

mask = ['Year', 'Month', 'Store Number', 'County', 'Category Name Edited', 'Sale (Dollars)', 
        'Profit', 'Volume Sold (Gallons)']
iowa_groupby = iowa_joined[mask].groupby(['Year','Month', 'Store Number', 'County', 'Category Name Edited']).\
  sum().reset_index().sort_values(['Year','Store Number'])

iowa_groupby['Profit per Gallon'] = \
    iowa_groupby['Profit'] / iowa_groupby['Volume Sold (Gallons)']

In [740]:
# reset index
iowa_groupby.reset_index(inplace=True, drop=True)
iowa_groupby.head()

,Year,Month,Store Number,County,Category Name Edited,Sale (Dollars),Profit,Volume Sold (Gallons),Profit per Gallon
0,2015,1,2106,Black Hawk,AMERICAN AMARETTO,72.96,24.36,3.17,7.684543
1,2015,1,2106,Black Hawk,AMERICAN DRY GINS,230.55,76.89,9.64,7.976141
2,2015,1,2106,Black Hawk,AMERICAN GRAPE BRANDIES,597.00,199.20,11.89,16.753574
3,2015,1,2106,Black Hawk,BLENDED WHISKIES,20.07,6.69,0.79,8.468354
4,2015,1,2106,Black Hawk,CANADIAN WHISKIES,2605.32,868.44,22.59,38.443559

In [741]:
# create quarter column to group by 

fill_in = ['Q1' 
           if iowa_groupby.ix[row, 'Month'] in [1,2,3] 
           else (
        'Q2' 
        if iowa_groupby.ix[row, 'Month'] in [4,5,6]
        else (
        'Q3'
        if iowa_groupby.ix[row, 'Month'] in [7,8,9]
        else 'Q4'))
          for row in iowa_groupby.index]
           
iowa_groupby['Quarter'] = pd.Series(fill_in)
iowa_groupby.head(10)

,Year,Month,Store Number,County,Category Name Edited,Sale (Dollars),Profit,Volume Sold (Gallons),Profit per Gallon,Quarter
0,2015,1,2106,Black Hawk,AMERICAN AMARETTO,72.96,24.36,3.17,7.684543,Q1
1,2015,1,2106,Black Hawk,AMERICAN DRY GINS,230.55,76.89,9.64,7.976141,Q1
2,2015,1,2106,Black Hawk,AMERICAN GRAPE BRANDIES,597.00,199.20,11.89,16.753574,Q1
3,2015,1,2106,Black Hawk,BLENDED WHISKIES,20.07,6.69,0.79,8.468354,Q1
4,2015,1,2106,Black Hawk,CANADIAN WHISKIES,2605.32,868.44,22.59,38.443559,Q1
5,2015,1,2106,Black Hawk,CINNAMON SCHNAPPS,134.16,44.76,2.38,18.806723,Q1
6,2015,1,2106,Black Hawk,COFFEE LIQUEURS,989.40,330.00,11.89,27.754415,Q1
7,2015,1,2106,Black Hawk,CREAM LIQUEURS,535.56,178.56,5.55,32.172973,Q1
8,2015,1,2106,Black Hawk,FLAVORED RUM,566.64,189.00,9.51,19.873817,Q1
9,2015,1,2106,Black Hawk,GRAPE SCHNAPPS,137.16,45.72,3.17,14.422713,Q1

In [742]:
# Create a new column called Year Quarter to show year and quarter at 
# the same time

iowa_groupby['Year Quarter'] = [ str(iowa_groupby.ix[row,'Year']) + iowa_groupby.ix[row,'Quarter'] 
                                   for row in iowa_groupby.index]
iowa_groupby.head()

,Year,Month,Store Number,County,Category Name Edited,Sale (Dollars),Profit,Volume Sold (Gallons),Profit per Gallon,Quarter,Year Quarter
0,2015,1,2106,Black Hawk,AMERICAN AMARETTO,72.96,24.36,3.17,7.684543,Q1,2015Q1
1,2015,1,2106,Black Hawk,AMERICAN DRY GINS,230.55,76.89,9.64,7.976141,Q1,2015Q1
2,2015,1,2106,Black Hawk,AMERICAN GRAPE BRANDIES,597.00,199.20,11.89,16.753574,Q1,2015Q1
3,2015,1,2106,Black Hawk,BLENDED WHISKIES,20.07,6.69,0.79,8.468354,Q1,2015Q1
4,2015,1,2106,Black Hawk,CANADIAN WHISKIES,2605.32,868.44,22.59,38.443559,Q1,2015Q1

In [743]:
# create the pivot table with sales by year and quarter shown per store number
# show only if year/quarter are as requested
# just showing head 20 since it's long
condition = iowa_groupby['Year Quarter'].isin(['2015Q1','2016Q1'])

iowa_groupby_2015_2016 = iowa_groupby[condition].pivot_table(values=['Sale (Dollars)'],columns='Year Quarter',
                                                  index=['County','Store Number','Category Name Edited'], aggfunc='sum')

print iowa_groupby_2015_2016.head(20)

# save these two for later 
iowa_groupby_2015_2016_county = iowa_groupby[condition].pivot_table(values=['Sale (Dollars)'],columns='Year Quarter',
                                                  index=['County'],
                                                             aggfunc='sum')

iowa_groupby_2015_2016_alkie = iowa_groupby[condition].pivot_table(values=['Sale (Dollars)'],columns='Year Quarter',
                                                  index=['Category Name Edited'],
                                                             aggfunc='sum')

                                                       Sale (Dollars)
Year Quarter                                                   2015Q1  2016Q1
County Store Number Category Name Edited
Adair  3461         100 PROOF VODKA                            178.92     NaN
                    AMERICAN COCKTAILS                          73.80   73.80
                    AMERICAN DRY GINS                           31.05   64.56
                    AMERICAN GRAPE BRANDIES                     26.64     NaN
                    APRICOT BRANDIES                            37.31    9.70
                    BLACKBERRY BRANDIES                           NaN   98.64
                    BUTTERSCOTCH SCHNAPPS                       28.35     NaN
                    CANADIAN WHISKIES                          176.64  767.58
                    CREAM LIQUEURS                                NaN  120.90
                    IMPORTED DRY GINS                             NaN   32.98
                    IMPORTED VODKA                             206.88  104.94
                    IMPORTED VODKA - MISC                       51.72     NaN
                    MISC. IMPORTED CORDIALS & LIQUEURS            NaN  198.36
                    OTHER PROOF VODKA                           35.37     NaN
                    PEACH SCHNAPPS                              56.01     NaN
                    PEPPERMINT SCHNAPPS                           NaN  138.36
                    PUERTO RICO & VIRGIN ISLANDS RUM              NaN   39.78
                    SPICED RUM                                    NaN  324.00
                    STRAIGHT BOURBON WHISKIES                   83.16  325.11
                    STRAIGHT RYE WHISKIES                      162.84     NaN

In [744]:
# drop those stores with NaN in 2016Q2

print iowa_groupby_2015_2016.shape

# condition - bool series for when NaN
print iowa_groupby_2015_2016.isnull().sum()

condition2016 = iowa_groupby_2015_2016['Sale (Dollars)']['2016Q1'].isnull()
print condition2016.head()
condition2015 = iowa_groupby_2015_2016['Sale (Dollars)']['2015Q1'].isnull()
print condition2015.head()

iowa_groupby_2015_2016 = iowa_groupby_2015_2016[~(condition2016) & ~(condition2015)]

print iowa_groupby_2015_2016.shape #check the shape was reduced
iowa_groupby_2015_2016.head()

(25076, 2)
                Year Quarter
Sale (Dollars)  2015Q1          7351
                2016Q1          6854
dtype: int64
County  Store Number  Category Name Edited
Adair   3461          100 PROOF VODKA             True
                      AMERICAN COCKTAILS         False
                      AMERICAN DRY GINS          False
                      AMERICAN GRAPE BRANDIES     True
                      APRICOT BRANDIES           False
Name: 2016Q1, dtype: bool
County  Store Number  Category Name Edited
Adair   3461          100 PROOF VODKA            False
                      AMERICAN COCKTAILS         False
                      AMERICAN DRY GINS          False
                      AMERICAN GRAPE BRANDIES    False
                      APRICOT BRANDIES           False
Name: 2015Q1, dtype: bool
(10871, 2)

                                         Sale (Dollars)
Year Quarter                                     2015Q1  2016Q1
County Store Number Category Name Edited
Adair  3461         AMERICAN COCKTAILS            73.80   73.80
                    AMERICAN DRY GINS             31.05   64.56
                    APRICOT BRANDIES              37.31    9.70
                    CANADIAN WHISKIES            176.64  767.58
                    IMPORTED VODKA               206.88  104.94

### 6.2 Decide on a metric for performance that combines Q1 2016 sales as well as growth in sales from Q1 2015.

Again, the owner wants to know that his store will be in a good position to sell a large amount of liquor now, but also have his store be more likely to grow and sell even more going forward. 

In particular, he is worried about opening a store in an area that is showing a decline in liquor sales between Q1 2015 and Q1 2016.

In [745]:
# check how to refer to multilevel indices
iowa_groupby_2015_2016.columns

MultiIndex(levels=[[u'Sale (Dollars)'], [u'2015Q1', u'2016Q1']],
           labels=[[0, 0], [0, 1]],
           names=[None, u'Year Quarter'])

In [746]:
# build a metric that shows difference between 2015 and 2016 in percentages

iowa_groupby_2015_2016['Percent Difference 2015 vs 2016'] = \
   iowa_groupby_2015_2016['Sale (Dollars)']['2016Q1'] / iowa_groupby_2015_2016['Sale (Dollars)']['2015Q1']

iowa_groupby_2015_2016['Percent Difference 2015 vs 2016'] = 100*\
        iowa_groupby_2015_2016['Percent Difference 2015 vs 2016']

iowa_groupby_2015_2016.head(20)

                                                     Sale (Dollars)          \
Year Quarter                                                 2015Q1  2016Q1
County Store Number Category Name Edited
Adair  3461         AMERICAN COCKTAILS                        73.80   73.80
                    AMERICAN DRY GINS                         31.05   64.56
                    APRICOT BRANDIES                          37.31    9.70
                    CANADIAN WHISKIES                        176.64  767.58
                    IMPORTED VODKA                           206.88  104.94
                    STRAIGHT BOURBON WHISKIES                 83.16  325.11
                    TEQUILA                                   54.00  670.88
                    VODKA 80 PROOF                           586.64  555.45
                    WHISKEY LIQUEUR                           40.86  161.64
       4317         AMERICAN DRY GINS                         20.41    9.74
                    BLENDED WHISKIES                         107.64  287.64
                    PEPPERMINT SCHNAPPS                       38.99   66.84
                    PUERTO RICO & VIRGIN ISLANDS RUM          18.00  135.00
                    SCOTCH WHISKIES                           31.13   35.15
                    SPICED RUM                               324.00  162.00
                    STRAIGHT BOURBON WHISKIES                220.37  201.66
                    TENNESSEE WHISKIES                        43.60  150.54
                    TEQUILA                                   31.48   62.96
                    VODKA 80 PROOF                            24.76  156.30
       4417         CANADIAN WHISKIES                        373.32  110.64

                                                     Percent Difference 2015 vs 2016
Year Quarter
County Store Number Category Name Edited
Adair  3461         AMERICAN COCKTAILS                                    100.000000
                    AMERICAN DRY GINS                                     207.922705
                    APRICOT BRANDIES                                       25.998392
                    CANADIAN WHISKIES                                     434.544837
                    IMPORTED VODKA                                         50.725058
                    STRAIGHT BOURBON WHISKIES                             390.945166
                    TEQUILA                                              1242.370370
                    VODKA 80 PROOF                                         94.683281
                    WHISKEY LIQUEUR                                       395.594714
       4317         AMERICAN DRY GINS                                      47.721705
                    BLENDED WHISKIES                                      267.224080
                    PEPPERMINT SCHNAPPS                                   171.428571
                    PUERTO RICO & VIRGIN ISLANDS RUM                      750.000000
                    SCOTCH WHISKIES                                       112.913588
                    SPICED RUM                                             50.000000
                    STRAIGHT BOURBON WHISKIES                              91.509734
                    TENNESSEE WHISKIES                                    345.275229
                    TEQUILA                                               200.000000
                    VODKA 80 PROOF                                        631.260097
       4417         CANADIAN WHISKIES                                      29.636773

In [747]:
# show only stores with 2015Q1 sales above 3000 (since commercial rent will be
# $1000 per month in cheap, cheap Iowa based on economist Cecilia Lam's 
# sage knowledge of Iowa's commercial housing market)
# AND stores that have percentage difference 2016 over 2015 of AT LEAST 100.

condition1 = iowa_groupby_2015_2016['Sale (Dollars)']['2015Q1'] >= 3000
condition2 = iowa_groupby_2015_2016['Percent Difference 2015 vs 2016'] >= 100

# there are 190 stores with enough 2015Q1 sales and growth between 2015Q1
# and 2016Q2.

print iowa_groupby_2015_2016[condition1 & condition2].shape
iowa_groupby_good_performers_location = iowa_groupby_2015_2016[condition1 & condition2]
iowa_groupby_good_performers_location.head(10)

(47, 3)

                                              Sale (Dollars)            \
Year Quarter                                          2015Q1    2016Q1
County     Store Number Category Name Edited
Black Hawk 2130         CANADIAN WHISKIES            3935.40   4841.78
Clay       2565         CANADIAN WHISKIES            3843.40   4144.06
Crawford   2595         CANADIAN WHISKIES            3087.47  19341.16
Dallas     3814         VODKA 80 PROOF               5489.28  32184.00
Des Moines 2506         CANADIAN WHISKIES            4092.35   4335.02
Johnson    2512         CANADIAN WHISKIES            3461.34   9150.91
                        IMPORTED VODKA               5911.74   9082.20
                        IMPORTED VODKA - MISC        4408.20   5808.60
                        IRISH WHISKIES               7188.12   9745.29
                        TEQUILA                      6740.19   7486.69

                                              Percent Difference 2015 vs 2016
Year Quarter
County     Store Number Category Name Edited
Black Hawk 2130         CANADIAN WHISKIES                          123.031458
Clay       2565         CANADIAN WHISKIES                          107.822761
Crawford   2595         CANADIAN WHISKIES                          626.440419
Dallas     3814         VODKA 80 PROOF                             586.306401
Des Moines 2506         CANADIAN WHISKIES                          105.929845
Johnson    2512         CANADIAN WHISKIES                          264.374780
                        IMPORTED VODKA                             153.629896
                        IMPORTED VODKA - MISC                      131.768069
                        IRISH WHISKIES                             135.574949
                        TEQUILA                                    111.075355

### 6.3 Recommend a location based on your metric.

The owner asks you to make a recommendation for a new store location. Explain why you recommended this area.

In [748]:
# groupby the previous by county.

iowa_groupby_good_performers_location.groupby(level=0).sum().sort_values([('Sale (Dollars)','2015Q1')], 
                                                                         ascending=False).head(20)

# goddamn that one took a long time, and I'm proud that I figured it out (grouping 
# by multi-index and sorting by multi-level columns), but really, at 3am? 
# hi guys! *waves*

################################################################
# My recommendation is to seek one of the top ten counties listed
# in the below.  The reasons are:

# 1) There are large, large dollar amounts of sales, which indicates
# that each county supports a very healthy demand for alcohol. This
# means if you build your business correctly, you should be able
# to obtain some market share as there is high demand.

# 2) There is some insane growth in these counties, indicating 
# very large jumps in already large sales bases.

             Sale (Dollars)            Percent Difference 2015 vs 2016
Year Quarter         2015Q1     2016Q1
County
Polk              167499.89  256134.17                     3235.658921
Johnson            48048.85   76575.62                     1689.990751
Linn               22649.16   31639.47                      836.817461
Woodbury           13629.36   33805.80                      725.548980
Scott               8151.72   11997.74                      289.820377
Dallas              5489.28   32184.00                      586.306401
Plymouth            4529.00    5367.15                      118.506293
Des Moines          4092.35    4335.02                      105.929845
Black Hawk          3935.40    4841.78                      123.031458
Clay                3843.40    4144.06                      107.822761
Marshall            3343.14    6867.42                      205.418259
Crawford            3087.47   19341.16                      626.440419

### 6.4 Recommend a location based also on a restricted inventory type.

Your employer has now decided he wants his store to focus on one type of liquor only. He askes you:

1. What would be the best type of liquor to sell to maximize profit?
2. Should the recommended location change if he is only selling one type of liquor?

In [749]:
# group by liquor category
iowa_groupby_good_performers_location.groupby(level=2).sum().sort_values([('Sale (Dollars)','2015Q1')], 
                                                                         ascending=False).head(20)

################################
# It appears that Canadian Whiskies are a very popular alcohol. The
# drinking base last year was already strong, and this year it's
# grown tremendously.  You might worry about whether demand for it
# will come down, which is fair since the growth has been huge, but
# the 2015 base was already solid.
# You could choose tequila as a second backup - it has a very decent
# sale draw and the growth is manageable and doesn't seem like it 
# reflects a bubble.

                                   Sale (Dollars)             \
Year Quarter                               2015Q1     2016Q1
Category Name Edited
CANADIAN WHISKIES                        61251.45  106563.32
TEQUILA                                  51406.66   64267.93
VODKA 80 PROOF                           39015.00   80419.38
WHISKEY LIQUEUR                          25075.67   34126.27
IMPORTED VODKA                           23264.22   81329.46
STRAIGHT BOURBON WHISKIES                20230.86   30193.54
IMPORTED VODKA - MISC                    18556.59   26409.72
IRISH WHISKIES                           17809.98   22833.35
FLAVORED RUM                              7204.56    7891.35
IMPORTED GRAPE BRANDIES                   5155.55    6861.68
DISTILLED SPIRITS SPECIALTY               4606.35    7679.04
BLENDED WHISKIES                          3925.80    5974.08
SPICED RUM                                3811.26    4897.80
MISC. IMPORTED CORDIALS & LIQUEURS        3794.76    4249.82
SCOTCH WHISKIES                           3190.31    3536.65

                                   Percent Difference 2015 vs 2016
Year Quarter
Category Name Edited
CANADIAN WHISKIES                                      2386.116758
TEQUILA                                                 717.297421
VODKA 80 PROOF                                         1343.035986
WHISKEY LIQUEUR                                         394.013361
IMPORTED VODKA                                         1680.235097
STRAIGHT BOURBON WHISKIES                               557.470172
IMPORTED VODKA - MISC                                   277.375590
IRISH WHISKIES                                          382.884905
FLAVORED RUM                                            109.532713
IMPORTED GRAPE BRANDIES                                 133.093074
DISTILLED SPIRITS SPECIALTY                             166.705526
BLENDED WHISKIES                                        152.174843
SPICED RUM                                              128.508682
MISC. IMPORTED CORDIALS & LIQUEURS                      111.991799
SCOTCH WHISKIES                                         110.855998

In [750]:
# choose locations based on Canadian whiskey.

iowa_groupby_good_performers_location.groupby(level=[2,0]).sum().sort_values([('Sale (Dollars)','2015Q1')], 
                                                                         ascending=False).head(20)

# Based on this groupby, the best county for Canadian whiskeys is Polk.
# It seems like they are good drinkers in general.

                                     Sale (Dollars)            \
Year Quarter                                 2015Q1    2016Q1
Category Name Edited        County
TEQUILA                     Polk           37959.80  44125.68
VODKA 80 PROOF              Polk           25585.89  34468.76
WHISKEY LIQUEUR             Polk           21311.99  30283.03
CANADIAN WHISKIES           Polk           20945.03  23640.28
IMPORTED VODKA - MISC       Polk           14148.39  20601.12
STRAIGHT BOURBON WHISKIES   Polk           11948.47  20552.30
IRISH WHISKIES              Polk           10621.86  13088.06
TEQUILA                     Johnson        10247.33  15696.67
IMPORTED VODKA              Polk            9428.04  51085.26
                            Johnson         9420.18  17649.30
CANADIAN WHISKIES           Johnson         7831.14  15041.71
FLAVORED RUM                Polk            7204.56   7891.35
IRISH WHISKIES              Johnson         7188.12   9745.29
VODKA 80 PROOF              Dallas          5489.28  32184.00
CANADIAN WHISKIES           Woodbury        5287.56  15236.82
IMPORTED GRAPE BRANDIES     Polk            5155.55   6861.68
DISTILLED SPIRITS SPECIALTY Linn            4606.35   7679.04
VODKA 80 PROOF              Johnson         4599.03   7900.84
CANADIAN WHISKIES           Plymouth        4529.00   5367.15
IMPORTED VODKA              Woodbury        4416.00  12594.90

                                     Percent Difference 2015 vs 2016
Year Quarter
Category Name Edited        County
TEQUILA                     Polk                          233.183976
VODKA 80 PROOF              Polk                          409.355867
WHISKEY LIQUEUR             Polk                          291.899473
CANADIAN WHISKIES           Polk                          233.793742
IMPORTED VODKA - MISC       Polk                          145.607521
STRAIGHT BOURBON WHISKIES   Polk                          323.817446
IRISH WHISKIES              Polk                          247.309957
TEQUILA                     Johnson                       345.168662
IMPORTED VODKA              Polk                          997.209153
                            Johnson                       397.815346
CANADIAN WHISKIES           Johnson                       399.181865
FLAVORED RUM                Polk                          109.532713
IRISH WHISKIES              Johnson                       135.574949
VODKA 80 PROOF              Dallas                        586.306401
CANADIAN WHISKIES           Woodbury                      288.163539
IMPORTED GRAPE BRANDIES     Polk                          133.093074
DISTILLED SPIRITS SPECIALTY Linn                          166.705526
VODKA 80 PROOF              Johnson                       171.793617
CANADIAN WHISKIES           Plymouth                      118.506293
IMPORTED VODKA              Woodbury                      285.210598

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 7. Time-related effects

---

You could imagine that liquor sales might be affected by a variety of effects related to time. Do people buy more beer in the summer? Do liquor sales skyrocket in december? Do people buy less liquor on Tuesdays?

You have the date of sales in your dataset, which you can use to pull out time components.

1. Come up with 3 different hypotheses about how liquor sales may vary with time-related variables. 
2. Create a visualization exploring each hypothesis.
3. Write brief concluding remarks on what you observed.

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 8. Appropriate spending

---

The owner you worked with before realized that opening new stores cost money, something he had completely overlooked earlier. He brings you back in to help him figure out how much he should be willing to spend on opening his store.

### 8.1 Calculate costs and time to recoup.

The owner has decided he will buy 20,000 gallons of the liquor type you recommended (randomly sampled across the different brands/subtypes). He will also be opening his store in the area you recommended.

The cost of buying the property for his store will be $150,000.

1. How much should he expect to spend on the 20,000 gallons of liquor alone?
2. Based on the amount he's spent on the liquor and property, and on the profit per time period he is expected to have, how long will it take him to recoup the costs?

<img src="http://imgur.com/gGrau8s.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">


### 8.2 Calculate maximum loan interest rate.

The owner unfortunately has to take out a loan to to pay for the entirety of the property and liquor. 

**Conditions of the loan**:

Every quarter, (except for Q1 when he takes out the loan), the interest rate is applied to the remaining balance on the loan and added to his debt. 

If, for example, he made no payments whatsoever, not only would the amount of debt he owed keep increasing by quarter but the debt incurred from interest would keep increasing as well. (Since his debt keeps growing, the interest rate is applied each month to the bigger balance, incurring more debt each time.)

**Determining maximum acceptable interest:**

Given this, _the owner wants to be 99% confident that he will be able to pay off his loans._ If the interest rate is too high he will have to eventually declare bankruptcy.

Based on his expected profits per quarter (assume the expected profit stays the same for all future quarters), what is the maximum interest rate he should accept on the loan to be 99% confident he will be able to pay it off?